.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
assets/images/profile/jk.jpg
assets/images/profile/justin.jpg
assets/images/profile/taeh.jpg
assets/database/test.sql
.gitignore
assets/images/activity/Act456-afd135523e.jpg
assets/images/collaborator/defaultlogo.png
assets/images/collaborator/HUHEU-6795997c0e.png
assets/images/collaborator/kru.png
assets/images/profile/A160000-6951df90fb.jpg
assets/images/profile/A160000-266177c1ab.jpg
assets/images/profile/A160000-891243ce24.jpg
assets/images/profile/A160001-052c4008ff.jpg
.vscode/launch.json
package-lock.json
